@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root{
    /* (intro and email sign up background) */
    --Dark-Blue-intro: hsl(217, 28%, 15%);
    /* (main background) */
    --Dark-Blue-main : hsl(218, 28%, 13%);
    /* (footer background) */
    --Dark-Blue-footer : hsl(216, 53%, 9%);
    /* (testimonials background) */
    --Dark-Blue-testimonial : hsl(219, 30%, 18%);
    /* (inside call-to-action gradient) */
    --Cyan : hsl(176, 68%, 64%);
    /* (inside call-to-action gradient) */
    --Blue : hsl(198, 60%, 50%);
    /* (error) */
    --Light-Red : hsl(0, 100%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray:hsl(0, 0%, 65%);
}

html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img{
    width: 10rem;
}
h1, h2, h4, .btn, nav, .footer-link{
    font-family: 'Raleway', sans-serif;
}

header{
    width: 100%;
    background-color: var(--Dark-Blue-intro);
    padding: 2rem 0  0;
    text-align: center;
    overflow-x: hidden;
}

.bg-header{
    width: 100%;
    text-align: center;
    padding: 0 1.5rem;
    background: url('./images/bg-curvy-mobile.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 55%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    margin-bottom: 4rem;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}

.logo{
    width: 8rem;
}

.link{
    color: var(--Gray);
    text-decoration: none;
    font-size: 1.4rem;
    transition: all .2s ease-in-out;
}

.link:hover{
    color: var(--White);
    text-decoration: underline;
}

.header-img{
    width: 100%;
    height: 100%;
    margin-bottom: 4rem;
}

.title{
    font-size: 2.5rem;
    line-height: 3.7rem;
    color: var(--White);
}

.title span{
    display: block;
}

.header-para-btn-box{
    background-color: var(--Dark-Blue-main);
    padding: 2rem 1.5rem 4rem;
}

.header-para{
    font-size: 1.6rem;
    line-height: 2.25rem;
    color: var(--Gray);
    margin-bottom: 2rem;
}

.get-started{
    padding: 1.2rem 0;
    font-size: 1.6rem;
    border-radius: 2rem;
    width: 80%;
    margin:2rem  auto 0;
    background: linear-gradient(94deg, var(--Cyan), var(--Blue));
    color: var(--White);
    border: none;
    outline: none;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

main{
    background-color: var(--Dark-Blue-main);
    text-align: center;
    padding: 7rem 1.5rem 0;
}

.feature-title,
.stay-productive-title,
.get-access-title{
    font-size: 2rem;
    color: var(--White);
    margin: 4rem 0 2rem;
}

.feature-para{
    font-size: 1.6rem;
    color: var(--Gray);
    margin-bottom: 10rem;
}

.stay-productive{
    width: 100%;
    height: 100%;
}

.stay-productive-title{
    text-align: left;
}

.stay-productive-first-para,
.stay-productive-second-para,
.review-para{
    font-size: 1.6rem;
    line-height: 2.7rem;
    color: var(--Gray);
    margin-bottom: 3rem;
    text-align: left;
}

.how-fylo-works{
    display: block;
    color: var(--Cyan);
    background-color: transparent;
    font-size: 1.6rem;
    border: none;
    outline: none;
    margin: 2rem 0 15rem;
    border-bottom: 2px solid var(--Cyan);
    cursor: pointer;
    transition: color .2s ease-in-out;
}

.how-fylo-works:hover{
    color: var(--White);
    border-color: var(--White);
}

.arrow{
    width: 2rem;
    height: 2rem;
    margin: 0 0 -.2rem .5rem;
}

.review-card{
    background-color: var(--Dark-Blue-testimonial);
    margin: 2rem 0;
    border-radius: 1rem;
    padding: 1.5rem;
    position: relative;
}

.satish-review::before{
    content: '';
    position: absolute;
    top: -4rem;
    left: 1rem;
    display: block;
    width: 5rem;
    height: 4rem;
    background: url('./images/bg-quotes.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.user{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.user-img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.user-info{
    text-align: left;
}

.user-name{
    color: var(--White);
    font-size: 1.6rem;
    margin-bottom: .2rem;
}

.user-job{
    color: var(--Gray);
    font-size: 1.4rem;
}

.get-access-container{
    background-color: var(--Dark-Blue-intro);
    padding: 1.5rem;
    border-radius: 1rem;
    transform: translateY(10rem);
}

.get-access-para{
    font-size: 1.6rem;
    color: var(--Gray);
    margin-bottom: 3rem;
}

.email,
.get-started-btn{
    font-size: 1.6rem;
    display: block;
    width: 80%;
    margin: 2rem auto;
    padding: .7rem 0;
    border: none;
    outline: none;
    border-radius: 2rem;
}

.email{
    padding-left: 1rem;
}

.get-started-btn{
    background: linear-gradient(94deg, var(--Cyan), var(--Blue));
    color: var(--White);
    cursor: pointer;
    margin-top: 4rem;
    position: relative;
    transition: background .2s ease-in-out;
}

.get-started-btn.error::after{
    content: 'Please enter a valid email address';
    display: block;
    position: absolute;
    top: -4rem;
    left: 2rem;
    font-size: 1.4rem;
    color: var(--Light-Red);
}

.get-started-btn:hover,
.get-started:hover{
    background: none;
    background-color: var(--Cyan);
}

footer{
    background-color: var(--Dark-Blue-footer);
    padding: 18rem 1.5rem 4rem;
}

.footer-logo{
    margin: 2rem 0;
}

.address-box{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 2rem;
}

.footer-icon{
    display: block;
    width: 2rem;
}

.address-para{
    color: var(--Gray);
    font-size: 1.6rem;
}

.footer-link{
    display: block;
    color: var(--Gray);
    font-size: 1.6rem;
    text-decoration: none;
    margin: 1rem 0;
    transition:  color .2s ease-in-out;
}

.footer-link:hover{
    color: var(--White);
}

.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin:3rem auto;
}

.icon-wrapper{
    width: 5rem;
    height: 5rem;
    border: 1px solid var(--White);
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: all .2s ease-in-out;
}

.icon-wrapper:hover{
    border-color: var(--Cyan);
}

.icon-wrapper:hover i{
    color: var(--Cyan);
}

.icon-wrapper  i{
    color: var(--White);
    font-size: 2rem;
}

.attribution{
    color: var(--Gray);
    text-align: center;
    font-size: 1.6rem;
}

.attribution a{
    color: var(--White);
    text-decoration: none;
}

.form.error::after{
    display: none;
}

@media screen and (min-width:768px) {
    nav{
        padding: 0 3rem;
    }

    .bg-header{
        background: url('./images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 25%;
    }

    .header-img{
        width: 40rem;
    }

    .title{
        width: 56rem;
        margin: auto;
    }

    .title span{
        display: inline-block;
    }

    .header-para span{
        display: block;
    }

    .get-started{
        width: 40rem;
    }

    main{
        padding: 7rem 3rem 0;
    }

    .features-container,
    .stay-productive-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        gap: 4rem;
    }

    .feature-card{
        width: 45rem;
    }

    .security-icon{
        height: 9.5rem;
        width: 8rem;
    }

    .collaboration-icon{
        width: 9rem;
        height: 7rem;
    }

    .stay-productive-title span{
        display: block;
    }

    .reviews-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        margin-top: 3rem;
    }

    .get-access-para span{
        display: block;
    }

    .get-access-container{
        width: 70%;
        min-width: 40rem;
        padding-bottom: 4rem;
        margin: auto;
    }

    .form{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        position: relative;
    }

    .form.error::after{
        content: 'Please enter a valid email address';
        display: block;
        position: absolute;
        bottom: -2rem;
        left: 20%;
        transform: translateX(-20%);
        font-size: 1.4rem;
        color: var(--Light-Red);
    }

    .email{
        width: 60%;
        max-width: 40rem;
        margin: 0;
    }

    .get-started-btn{
        width: 20rem;
        margin: 0;
    }

    .get-started-btn.error::after{
        display: none;
    }

    footer{
        padding: 18rem 3rem 4rem;
    }

    .footer-logo{
        width: 15rem;
    }

    .footer-container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: start;
        justify-content: start;
        gap: 3rem;
        margin-bottom: 3rem;
    }

    .footer-link{
        margin: 0 0 1rem;
    }

    .social-icons{
        margin: 0;
    }

}



































































































